#nav-menu{
    display: flex;
    border: 1px solid red;
    justify-content: space-between;
    background-color: #75c694;
    border-radius: 15px;
    position: sticky;
  top: 0px;
  
  padding: 3px;
  max-width: 100%;
  z-index: 3;
}

#nav-menu div{

    display: flex;
    vertical-align: middle;
align-items: center;

}

#nav-menu > div > a {
    padding: 6px 11px;
    font-size: 21px;
    margin: 4px 10px;
    color: white;
    text-decoration: none;
  }

  #home{
    display: flex;
    justify-content: space-around;
  }

